<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
			<%= render :partial => "/head" %>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<%= render :partial => "/menu" %>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<i class="fa fa-exclamation-circle" style="font-size: 10em;"></i>
						<h2>噢哦! 遇到了甚麼問題..</h2>
						<section id="content" class="align-center">
							<p></p>
							<p>該網站拒絕顯示此網頁 (HTTP 403)</p>
							<!--#echo var="REQUEST_URI" -->
						</section>
					</header>
				</div>
			</div>

		<!-- Footer -->
			<%= render :partial => "/footer" %>

	</body>
</html>