<!-- Five -->
		
			<section id="five" class="wrapper style2 special fade">
				<div class="container">
					
					<!--
					<header>
						<h2><i class="fa fa-slideshare"></i> 群眾募資中</h2>
						<p>有你的支持我們能做得更好</p>
						<img src="images/webaker.png">

					</header>
					<ul class="actions" style="padding-top:20px;">
							<li><a href="http://www.webackers.com/Proposal/Display/129" target="_blank" class="button">前往贊助頁</a></li>
						</ul>
					 -->
					

					<header>
						<h2><i class="fa fa-facebook-square"></i> 追蹤我們的 Facebook</h2> 
						<p>歡迎按讚以獲得最新的資訊</p>
						<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCybernetics.the.game&amp;width&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe>
					</header>

					<!--
					<form method="post" action="#" class="container 50%">
						<div class="row uniform 50%">
							<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
							<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
						</div>
					</form>
					 -->
				</div>
			</section>

<!-- Footer -->
			<footer id="footer">
				
				<ul class="copyright">
					<li>&copy; Cybernetics 機控全城. All rights reserved.</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a> & <a href="http://www.voxel-twinz.tw/" target="_blank">Voxel-Twinz</a></li>
				</ul>
			</footer>