		<title>Cybernetics 機控全城</title>
		<link rel="icon" href="images/icon_v1.ico" type="image/ico" />

		<!-- Facebook meta tag -->
		<meta property="og:image" content="http://www.cybernetics-game.com/images/FacebookBanner.jpg"/>
		<meta property="og:description" content="〈學生獨立製作 × 3D 動作解謎遊戲〉人類以大地之母的形象創造了管理城市的機器人-蓋亞，然而在啟動的同時蓋亞卻失控了，為了阻止失控的蓋亞，女主角-緹娜踏上了旅程" />
		<!-- Facebook meta tag END -->

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Cybernetics 機控全城 , Cybernetics The Game" />
		<meta name="keywords" content="Cybernetics , 機控全城 , 獨立製作 , Indie game" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/SmoothScroll.js"></script>
		<script src="js/init.js"></script>
		<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
		<noscript>
			<link rel="stylesheet" href="stylesheets/skel.css" />
			<link rel="stylesheet" href="stylesheets/style.css" />
			<link rel="stylesheet" href="stylesheets/style-xlarge.css" />
		</noscript>
		