<header id="header">
				<h1 id="logo"><a href="index.html"></a></h1>
				<nav id="nav">
					<ul style="margin-right:1em;">
						<li><a target="_blank" href="https://www.facebook.com/Cybernetics.the.game"><i class="fa fa-facebook-square"></i> FB</a></li>
						<li><a href="http://cybernetics-game.com"><i class="fa fa-home"></i> 首頁</a></li>
						<li>
							<a href=""><i class="fa fa-bars"></i> 選單</a>
							<ul>
								<li><a href="spotlight">遊戲介紹</a></li>
								<li><a href="spotlight#story">遊戲故事</a></li>
								<li>
									<a href="spotlight#focus">遊戲特色</a>
									<ul>
										<li><a href="spotlight#wps">武器系統</a></li>
										<li><a href="spotlight#2p">雙角色操作</a></li>
										<li><a href="spotlight#brain">解謎要素</a></li>
									</ul>
								</li>
								<li><a href="download">遊戲下載</a></li>
								<li><a href="showreel">模型展示</a></li>
								<li><a href="index#four" class="scrolly">開發中畫面</a></li>
								
							</ul>
						</li>
						
						<li><a href="http://steamcommunity.com/sharedfiles/filedetails/?id=689264344" target="_blank" class="button special">
							
								<i class="fa fa-steam"></i>
								Steam 版本製作中
								
							</a>
						</li>
						

					</ul>
				</nav>
			</header>
