<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cybernetics 機控全城 | Coming Soon</title>
		<%= render :partial => "/head" %>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<%= render :partial => "/menu" %>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>啊呀! 此頁面未開放..</h2>
					</header>

					<!-- Content -->
						<section id="content" class="align-center">
							<i class="fa fa-cogs" style="font-size: 10em;"></i>
							<p></p>
							<p>未來開放會以 Facebook 專頁通知大家</p>
						</section>

				</div>
			</div>

		<!-- Footer -->
			<%= render :partial => "/footer" %>
</html>