<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cybernetics 機控全城 | 遊戲下載</title>
		<%= render :partial => "/head" %>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<%= render :partial => "/menu" %>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2><i class="fa fa-cloud-download" ></i> 遊戲下載</h2>
					</header>
					<!-- Content -->
					<section id="content" class="align-center">
						<h1> PC 版下載 </h1>
						<div class="align-center">
							<a href="https://docs.google.com/uc?id=0B_koNOMBkbxAYk1uRHBkd25IdDA&export=download" target="_blank"><img style="width: 15%;" src="images/download_drive_64.png"></a>
							<a href="https://mega.co.nz/#!hZ8CwDjZ!bvSUnKsVHdNwUuypq8g1htV6xpA_33vsRvA4P95VXfk" target="_blank"><img style="width: 15%;" src="images/download_mega_64.png"></a>

							<a href="https://docs.google.com/uc?id=0B_koNOMBkbxATk5PTm9YQW1QMEU&export=download" target="_blank"><img style="width: 15%;" src="images/download_drive_32.png"></a>
							<a href="https://mega.co.nz/#!8VcnwJLD!LU0ygkHgGFkRRAVmP3w-zpqOdnWeJW5OeRsnA8bSdVo" target="_blank"><img style="width: 15%;" src="images/download_mega_32.png"></a>
						</div>
						<p></p>
						<div style="margin-left:43%;">
							<p style="text-align: left;">
							<i class="fa fa-file-archive-o"></i>  檔案大小：2.02 GB<BR>
							<i class="fa fa-info-circle"></i>  遊戲版本：1.0.4c<BR>
							<i class="fa fa-calendar"></i>  更新日期：2015.5.30
							</p>
						</div>
					</section>
					<br>
					<section id="content" class="align-center">
						<h1> MAC 版下載 </h1>
						<div class="align-center">
							<a href="https://docs.google.com/uc?id=0B_koNOMBkbxAWFRYaHZHM0lDWms&export=download" target="_blank"><img style="width: 15%;" src="images/download_drive.png"></a>
							<a href="https://mega.co.nz/#!hMkEmS7C!DFOOCiYPm3jx98gf8oxk7KzX7qB3DeHqBzNY-nWHUOk" target="_blank"><img style="width: 15%;" src="images/download_mega.png"></a>
						</div>
						<p></p>
						<div style="margin-left:43%;">
							<p style="text-align: left;">
							<i class="fa fa-file-archive-o"></i>  檔案大小：2.02 GB<BR>
							<i class="fa fa-info-circle"></i>  遊戲版本：1.0.4c<BR>
							<i class="fa fa-calendar"></i>  更新日期：2015.5.30
							</p>
						</div>
					</section>
					<hr>
				</div>
				<div class="split_shadow"></div> 


				<div class="container">
					<header class="major">
						<h2><i class="fa fa-bug"></i> 更新歷程 Ver. 1.0.4c</h2>
					</header>
					<!-- Content -->
					<section id="content" class="align-center">
					<div style="margin-left:30%;" >
						<div class="align-center" style="width: 70%;">
							<p style="text-align: left;">
							   ➤ BUG 修正<br>
								　1. 修正了水閥機關操作太多次時的異常問題<br>
								　2. 修正了撿取蒸汽球時遭受攻擊所產生的異常問題<br>
								　3. 修正了部分物理表現異常問題<br>
								　4. 修正了武器槍在部分強況下無法擊中問題<br>
								　5. 進入事件狀態後無法再呼叫切換武器介面<br>
								　6. 部分遺失的碰撞體已經補回<br>
								　7. 修正了小機器人動作異常問題<br>
							   ➤ 企劃修改<br>
								　1. 現在重置紀錄僅會重置關卡進度<br>
								　2. 左類比搖桿按下已經無法再使用閃避動作<br>
						</div>
					</div>
					</section>
					<hr>
				</div>


			</div>

		<!-- Footer -->
			<%= render :partial => "/footer" %>
</html>