<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cybernetics 機控全城 | 遊戲介紹</title>
		<%= render :partial => "/head" %>
		
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<%= render :partial => "/menu" %>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container" style="width: 100%;">
					<header class="major">
						<h2>基本介紹</h2>
					</header>

					<!-- Content -->
					<section id="content" style="width: 80%; margin: 0px auto;">
						<p>
							　　《 Cybernetics 機控全城 》是一款動作冒險遊戲。人類以大地之母的形象創造了管理城市的機器人－蓋亞，然而在啟動的同時蓋亞卻失控了。身為蓋亞創造工程師之女的緹娜，在自家門前的街道醒來，主要的記憶都喪失了，殘存的記憶告訴自己需要去阻止蓋亞的失控與破壞。
						</p>
							<img class="image fit" src="images/intro_01.jpg">
						<p>
							　　然而她並沒有發現這復甦不過是一場遊戲...。
						</p>
						<hr>
						<div style="margin: 0 auto; vertical-align: middle;" >
							<div class="align-center" style="margin: 0 auto; vertical-align: middle;">
							<img class="intro_icon" src="images/icon_info.png">
								<table class="gameinfo alt">
									<tbody>
										
										<tr>　　
											<td class="align-center">【 遊戲類型 】</td>
											<td class="align-left" >動作解謎</td>
										</tr>
										<tr>
											<td class="align-center">【 平　　台 】</td>
											<td class="align-left">PC、 ( Mac試驗中 )</td>
										</tr>
										<tr>
											<td class="align-center">【 語　　言 】</td>
											<td class="align-left">中文、附語音</td>
										</tr>
										<tr>
											<td class="align-center">【 遊戲時數 】</td>
											<td class="align-left">約 2 小時</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</section>
					<hr>
					<div class="split_shadow"></div> 


					<header class="major">
						<h2>遊戲故事</h2>
					</header>

					<!-- Content -->
					<section id="content" style="width: 80%; margin: 0px auto;">
						<p class="align-center">
						　　Cybernetics 我們將它解釋為一種將生物有目的的行為賦予給機器的基本思想。
						</p>
						<div class="align-center">
							<img style="width: 50%;" src="images/UI_TitleLOGO.png">
						</div>
						<p>
							　　遊戲 Logo 設計成為遊戲內容的諷刺，所呈現的是人類與機械共同友好的形象。中間的船舵正是這城市的一項偉大建設－方舟計畫的形象元素。然而遊戲中卻是機械因為失控消滅了人類，這說到頭來，都是人自食惡果的關係。
						</p>
						<p>
							　　生命對人類的意義是什麼？古代的人會自行耕種、採集、捕獵，來使生活得到滿足。然而18世紀工業革命之後，人類開始依賴機器生活。原本很多的農耕、採集、生產食物的行為，漸以機械全面替代。靠全自動化機械的幫助，生活越來越簡單。但對機械卻越漸仰賴；將來的某一天人類能否嘗到機器與人之間地位相反的情況？
						</p>
						<img class="image fit" src="images/5.jpg">
						<p>
							　　緹娜醒來之後整座城市都變了，變成到處都是機器人的世界，已經看不到其它的路人。就像當年人類製造機器人一樣，蓋亞製造出的這一切猶如玩具，等待緹娜的反抗，等待她破解一道一道的謎題。
						</p>
						<img class="image fit" src="images/p03.jpg">
						<p>
							　　人類變成機械的掌中物，聽起來很讓人不愉快，我們對待機械何嘗不是這種態度？或許哪一天真正有了有智慧的機器人時，我們將會面臨到相同的問題。
						</p>

					</section>	
					<hr>
					<div class="split_shadow"></div> 

					

					<header class="major" id="focus">
						<h2>特色系統</h2>
					</header>

					<!-- Content -->
					<section id="content" style="width: 80%; margin: 0px auto;">

						<div class="align-center focustable">
							<div class="leftcontent">
								<img src="images/icon_weapon_system.png">
								<br>
								<p style="max-width: 100%;padding-top:30px;">
								　　遊戲中可以自由地切換成三種不同的武器，利用不同的武器擊退周圍的敵人吧！
								</p>
							</div>
							<div class="rightcontent">
								<img style="width:100%; border-radius: 15px; vertical-align: middle;" src="images/focus01.jpg">	
							</div>
						</div>	
						<div class="align-center focustable">
							<div class="leftcontent">
								<img src="images/icon_2player.png">
								<br>
								<p style="max-width: 100%;padding-top:30px;">
								　　跟隨在緹娜身邊的小機器人還可以操作呢究竟在什麼地方上會派上用場呢？
								</p>
							</div>
							<div class="rightcontent">
								<img style="width:100%; border-radius: 15px; vertical-align: middle;" src="images/focus02.jpg">	
							</div>
						</div>
						<div class="align-center focustable">
							<div class="leftcontent">
								<img src="images/info_brain.png">
								<br>
								<p style="max-width: 100%;padding-top:30px;">
								　　結合以上兩種特色，將有各式各樣的謎題等著被你解開。
								</p>
							</div>
							<div class="rightcontent">
								<img style="width:100%; border-radius: 15px; vertical-align: middle;" src="images/focus03.jpg">	
							</div>
						</div>
						
						
					</section>	
					<hr>
					<div class="split_shadow"></div> 

				</div>
			</div>

		<!-- Footer -->
			<%= render :partial => "/footer" %>

	</body>
</html>